:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  --bg-color-black: #2f303a;
  --rgb-footer: rgba(255, 255, 255, 0.6);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--white-color);
}
.header {
  border-bottom: 1px solid #ececec;
}

/* -------------------------logo----------------------------------- */
.main-nav .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/* ---------------------------sitenav -------------------------------*/

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link,
.contact .link {
  color: var(--title-text-color);
}
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.main-nav {
  display: flex;
  align-items: center;
}

/* ----------------секции------------------------ */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

p {
  color: var(--primary-text-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
}
/* --------------------герой---------------------------------- */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-black);
}
.hero {
  text-align: center;

  color: var(--white-color);
  letter-spacing: 0.06em;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 0;

  padding-left: 252px;
  padding-right: 252px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
/* --------------------------Кнопка --------------------------------*/
.button {
  display: inline-block;

  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

/* --------------------------Преимущества-------------------------- */

.feature-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-list .item + .item {
  margin-left: 30px;
}
.feature .item {
  margin-top: 0;
  margin-bottom: 0;
  flex-basis: 270px;
}

.item .feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.item .text {
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* --------------------------Чем мы заниаемся---------------------  */
.about-section {
  padding-top: 0px;
}
.about-title {
  margin-top: 0;
}
.about-list {
  display: flex;
}

.about-list .about-item + .about-item {
  margin-left: 30px;
}

/* ------------------------------Наша команда ------------------------*/
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-item {
  max-width: 270px;
  text-align: center;
}
.team-section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
img {
  display: block;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.19;
}
.paragraph {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list {
  display: flex;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

/*----------------------------- Футер----------------------------------- */
.footer {
  background-color: var(--bg-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  margin-top: 20px;
  margin-bottom: 9px;
}
.contact-address .mail {
  margin-bottom: 6px;
  margin-right: 1154px;
}

.address,
.contact-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.contact-address .link {
  color: var(--rgb-footer);
}

/* ---------------------------------------------СТРАНИЦА ПОРТФОЛИО */

/*--------------------- Кнопки фильтра -------------------------------------*/
.filter {
  margin-bottom: 50px;
}
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  display: inline-block;

  border-radius: 4px;
  padding: 6px 22px;
}
.filter .link:hover,
.filter .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.filter {
  display: flex;
  justify-content: center;
}
.filter .item + .item {
  margin-left: 8px;
}

/* -----------------------------Проекты ---------------------------------*/
.project-img {
  display: block;
}
.project-title {
  margin-bottom: 4px;
  margin-top: 0px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
}
.project-paragraph {
  padding: 20px 24px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
